.data-table {
  border: 2px solid #444;      /* Frame around the table */
  border-collapse: collapse;
  width: 100%;
}

.data-table th, .data-table td {
  border: 1px solid #999;      /* Cell borders */
  padding: 8px;
  text-align: center;
}